#av{
    background-color:blue;
    font-size: medium;
    text-align: center;
    font-weight: bold;
    border: 10px solid red;
}
/* .dv{
    background-color: aqua;
    font-size: medium;
    text-align: center;
    font-weight: bold;
    border: 10px solid red;
} */
